header {
  background-color: bisque;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__country {
    background-color: bisque;
    border-width: 1;
    border-color: black;
    border-style: solid;
  }
}

.country {
  display: flex;
  gap: 30px;

  &__flag {
    width: 50vw;
  }
}